<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="goods_provider"/>
    <!-- 注册中心的ip地址 -->
    <dubbo:registry address="zookeeper://192.168.2.45:2181"/>
    <!-- 扫描注解包路径，多个包用逗号分隔，不填pacakge表示扫描当前ApplicationContext中所有的类 -->
    <dubbo:annotation package="com.wangong.goods_service.service.impl"/>

    <!-- use dubbo protocol to export service on port 20880 -->
    <dubbo:protocol name="dubbo" port="20883"/>

    <!-- service implementation, as same as regular local bean -->
    <bean id="goodsService" class="com.wangong.goods_service.service.impl.GoodsServiceImpl"/>
    <!-- declare the service interface to be exported -->
    <dubbo:service interface="com.wangong.common.service.GoodsService" ref="goodsService"/>
</beans>